<%- include('../partials/header.ejs') %>

<% if (typeof alert != 'undefined') { %>
<% alert.forEach(function(error) { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Error!</strong> <%= error.msg  %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% }) %>
<% } %>



<div class="loginArea">
    <form action="/register" method="post" id="register" class="form-signin">

        <h1 class="h3 mb-3 font-weight-normal">Please Log in</h1>
        <label for="email" class="sr-only">Email address</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
            aria-describedby="emailHelp" required="true">
        <small id="emailHelp" class="form-text text-muted">Enter your best email.</small>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
            required="true">

        <label for="confirmPassword">Re-enter Password</label>
        <input type="password" class="form-control" name="confirmPassword" id="confirmPassword" required="true"
            placeholder="Re-enter password">

        <button class="btn btn-lg btn-dark btn-block" type="submit">Register</button>
        <a class="btn btn-lg btn-dark btn-block" href="/">Go Back</a>


        <p class="mt-5 mb-3 text-muted">© Ido Longbeard</p>
    </form>




</div>



<%- include('../partials/footer.ejs') %>